---
import Layout from "../layouts/Layout.astro";
import Map from "../components/Map.astro";
---

<Layout title="May Garden Mart 2023">
  <main
    class="py-12 main md:max-w-screen flex flex-col align-center items-center"
  >
    <h2 class="text-text-500 font-semibold text-2xl">May Garden Mart</h2>
    <p class="max-w-xl text-center text-text-500 font-semibold text-md italic">
      Sponsored by the Franklin Gardeners Association
    </p>
    <div class="w-40 mt-2 flex flex-col items-center justify-center">
      <div class="w-full flex items-center justify-between">
        <p>May 6th</p>
        <p>9am - 4pm</p>
      </div>
      <div class="w-full flex items-center justify-between">
        <p>May 7th</p>
        <p>11am - 4pm</p>
      </div>
    </div>
    <div class="w-11/12 overflow-scroll cursor-grab">
      <Map />
    </div>
  </main>

  <style>
    .header {
      background-image: url("../assets/potting.jpg");
      object-fit: cover;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }
    h1 {
      font-size: 3rem;
      font-weight: 800;
      margin: 0;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
  </style>
</Layout>
