---
import VendorForm from "../components/VendorForm.html";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Franklin Gardeners Contact Information">
  <main
    class="md:py-12 pt-12 mb-80 px-4 main w-screen flex flex-col align-center items-center"
  >
    <div
      class="w-full mb-16 max-w-[500px] flex flex-col text-xl items-center justify-between"
    >
      <h2 class="text-text-500 mb-4 text-center font-semibold text-4xl">
        We'd love for you to join us!
      </h2>
      <VendorForm />
    </div>
  </main>
</Layout>
