---
type NavLink = {
  text: string;
  href: string;
  color: string;
};
const links: NavLink[] = [
  {
    text: "Home",
    href: "/",
    color: "text-pink",
  },
  {
    text: "Contact",
    href: "/contact",
    color: "text-pink",
  },
  {
    text: "May Garden Mart 2023",
    href: "/mart",
    color: "text-pink",
  },
];
---

<div
  class="md:px-16 px-2 bg-purple-200 flex flex-row items-center justify-center w-screen min-h-[100px]"
>
  <p class="w-full font-semibold py-4">
    Franklin Gardeners Association {new Date().getFullYear()}
  </p>
  <div
    class="flex flex-col md:flex-row items-center text-center justify-center w-full h-full"
  >
    {
      links.map((l) => (
        <a href={l.href} class={`${l.color} p-4 hover:underline`}>
          {l.text}
        </a>
      ))
    }
  </div>
</div>
