<div class="map w-[1151px] h-[889px]"></div>

<style>
  .map {
    background-image: url("../assets/blankMap.png");
    object-fit: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
</style>
